@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.active-link {
  position: relative;
  color: inherit;
  font-weight: 400;
  &::after {
    content: '';
    position: absolute;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
  }
}

/* 隐藏滚动条,兼容诸多平台 */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
