@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.active-link {
  position: relative;
  color: inherit;
  font-weight: 400;
  &::after {
    content: '';
    position: absolute;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
  }
}